<a href="https://colab.research.google.com/github/Pratish89/python_practice/blob/main/Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

tasks = ["Send email", "Write report", "Attend meeting"]

for i,task in enumerate(tasks):
  print(f"{i}.{task}")

0.Send email
1.Write report
2.Attend meeting

In [ ]:
grades =[85,90,78,88]

for i in range(len(grades)):
  if grades[i] <80:
    print (f"grade is below  {grades[i]}")

grade is below  78

In [ ]:
employees = {"John": 45, "Alice": 32, "Bob": 28, "Diana": 50}

for name,age in employees.items():
  if age < 40:
    print(f"{name}, Age:{age}")

Alice, Age:32
Bob, Age:28

In [ ]:
orders = [
    {"order_id": 101, "product": "Laptop", "price": 1200},
    {"order_id": 102, "product": "Headphones", "price": 200},
    {"order_id": 103, "product": "Mouse", "price": 25},
]

for order in orders:
  if order['price'] > 100:
    print(f"The order: {order['order_id']} and Product is: {order['product']}")

The order: 101 and Product is: Laptop
The order: 102 and Product is: Headphones

In [ ]:

number = 5

for i in range(1,11):
   print(f" {number} x {i}={number * i}")

 5 x 1=5
 5 x 2=10
 5 x 3=15
 5 x 4=20
 5 x 5=25
 5 x 6=30
 5 x 7=35
 5 x 8=40
 5 x 9=45
 5 x 10=50

In [ ]:
# Question:

# You are given sales data for different regions in a nested list. Write a program to calculate and display the total sales for each region.

sales = [
    ["North", 1500, 2000, 1800],
    ["South", 1200, 1400, 1600],
    ["East", 1000, 1100, 1050],
]

for sale in sales:
  region= sale[0]
  total_sales = sum(sale[1:])
  print(f"Region:{region} --> Total Sales:${total_sales}")

Region:North --> Total Sales:$5300
Region:South --> Total Sales:$4200
Region:East --> Total Sales:$3150

In [ ]:
# Question:

# Simulate a pagination system that divides a list of items into pages with a fixed page size. Write a program that displays the items for each page.




items = ["Item1", "Item2", "Item3", "Item4", "Item5", "Item6"]
page_size = 3

for page in range(0,len(items),page_size):
  print (f"Page {page //page_size +1 }: {items[page: page + page_size]}")

Page 1: ['Item1', 'Item2', 'Item3']
Page 2: ['Item4', 'Item5', 'Item6']

In [ ]:
# Question:

# Write a program to find duplicates in a list and print them.

products = ["Laptop", "Mouse", "Laptop", "Keyboard", "Mouse"]
seen = set()
duplicate_item =[]

for product in products:
  if product in seen:
    duplicate_item.append(product)
  else:
    seen.add(product)
print(duplicate_item)

['Laptop', 'Mouse']

In [ ]:
# Question:

# Simulate reading a file line by line and display the line number and content. Use enumerate.

lines = ["Alice,25,Female", "Bob,30,Male", "Charlie,22,Male"]

for line_no, line in enumerate(lines, start=1):
    print(f"Line {line_no}: {line}")

Line 1: Alice,25,Female
Line 2: Bob,30,Male
Line 3: Charlie,22,Male

In [ ]:
# Question:

# You have a list of participants. Write a program to randomly pick two winners.

import random

participants = ["Alice", "Bob", "Charlie", "Diana", "Eve"]

winners = random.sample(participants,2)

print(f"winners: {winners}")

winners: ['Eve', 'Diana']

In [ ]:
# Question:

# Sort a list of employees by their age and print the sorted list.

employees = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Charlie", "age": 22},
]

sorted_emplouess = sorted(employees,key=lambda x: x['age'])

for employee in sorted_emplouess:
      print(f"{employee['name']}, Age: {employee['age']}")

Charlie, Age: 22
Alice, Age: 25
Bob, Age: 30

In [ ]:
# Question:

# Find common students in two classes using sets.

class_a = ["Alice", "Bob", "Charlie", "Diana"]
class_b = ["Charlie", "Eve", "Alice", "Frank"]

common_students = set(class_a) & set(class_b)

print(f"Common Students: {common_students}")

Common Students: {'Alice', 'Charlie'}

In [77]:
# Question:

# Write a program to restock items in an inventory if their quantity is below a threshold.

inventory = {
    "Apples": 5,
    "Bananas": 2,
    "Oranges": 8,
}

threshold = 3
restock_amount = 10


for item,qty in inventory.items():
  if qty < threshold:
    print(f"{item} is below the threshold. Restocking to {restock_amount}.")
    inventory[item]=restock_amount
print("Updated Inventory:", inventory)

Bananas is below the threshold. Restocking to 10.
Updated Inventory: {'Apples': 5, 'Bananas': 10, 'Oranges': 8}

In [94]:
# Question:

# Find the product with the highest price from a list of products.

products = [
    {"name": "Laptop", "price": 1000},
    {"name": "Phone", "price": 500},
    {"name": "Tablet", "price": 750},
]
most_expensive = max(products, key=lambda x: x["price"])

print(f"The most expensive product is {most_expensive['name']} costing ${most_expensive['price']}.")

The most expensive product is Laptop costing $1000.

In [100]:
# Question:

# Find the product with the highest price from a list of products.

products = [
    {"name": "Laptop", "price": 1000},
    {"name": "Phone", "price": 500},
    {"name": "Tablet", "price": 750},
]

# Find the product with the highest price using a loop
most_expensive = None
highest_price = 0

for product in products:
    if product["price"] > highest_price:
        most_expensive = product
        highest_price = product["price"]

print(f"The most expensive product is {most_expensive['name']} costing ${most_expensive['price']}.")
print(most_expensive)

The most expensive product is Laptop costing $1000.
{'name': 'Laptop', 'price': 1000}

In [101]:
# Question:

# Pair students with their scores using zip.


students = ["Alice", "Bob", "Charlie"]
scores = [85, 90, 78]

for students,scores in zip(students,scores):
  print(f"{students}:{scores}")

Alice:85
Bob:90
Charlie:78